 /* The snackbar - position it at the bottom and in the middle of the screen */

#testiloota {
	
	border-radius:15px;
	color: blue;
	border:2px solid;
	
}

#fieldset {
	
	border:1px black solid;
	border-radius:15px;
	
}

.savebutton {
	color:white;
	text-align:center;
	border-radius:5px;
	background-color:grey;
	padding:10px;
	width:80px;
	
}

.namebutton {
	
	color:white;
	text-align:center;
	border-radius:5px;
	background-color:grey;
	padding:10px;
	width:70px;

}

.bold {
	font-weight: bold;
}