#testiloota {
	
	border-radius:15px;
	color: blue;
	border:2px solid;
	
}

#fieldset {
	
	border:1px black solid;
	border-radius:15px;
	
}

.savebutton {
	color:white;
	text-align:center;
	border-radius:5px;
	background-color:grey;
	padding:10px;
	width:80px;
	
}

.namebutton {
	color:white;
	text-align:center;
	border-radius:5px;
	background-color:grey;
	padding:10px;
	width:70px;

}

.bold {
	font-weight: bold;
}

.navbar {
	border-radius: 0;
}

#logout {
	background:none;
	border:none;
	color: #9d9d9d;
	position: relative;
 	display: block;
 	padding: 10px;
 	text-align: center;
}

#logout:hover {
	color: #fff;
}

@media (min-width: 768px) {
	#logout {
		padding: 15px 15px;
	}