#testiloota {
	
	border-radius:15px;
	color: blue;
	border:2px solid;
	
}
@media screen and (max-width: 768px) {
	.ukflag2 {
       margin-left:60px;
       margin-top:-90px;
    
    }
}


    .ukflag {
    
       margin-left:60px;
       margin-top:-50px;
    
    }


.flagwrap {
	margin-top:10px;
	margin-left:10px;
	margin-bottom:-10px;
}
@media screen and (max-width: 768px) {
    #greeting {
       margin-left:-20px;
    }
}

@media screen and (max-width: 768px) {
    .logout {
       margin-top:-50px;
    }
}

#fieldset {
	
	border:1px black solid;
	border-radius:15px;
	
}

.savebutton {
	color:white;
	text-align:center;
	border-radius:5px;
	border:1px solid grey;
	background-color:grey;
	padding:8px;
	width:80px;
}

.savebutton:hover {
	background-color:#999999;
}




.right {
	display:table-cell;
	margin-left:-4px;
	font-weight:bold;
	color:grey;
	text-align:center;
	vertical-align: middle;
	border-radius:0px 5px 5px 0px;
	border:1px solid grey;
	background-color:white;
	padding:8px;
	width:60px;
	margin-top:-7px;
	margin-bottom:-7px;}


.left {
	display:table-cell;
	border-radius:5px 0px 0px 5px;
	border:1px solid grey;
	width:140px;
	background-color: grey;
	padding:8px;
	margin-top:-7px;
	margin-bottom:-7px;
	color:white;
	text-align:center;
	
}


.left:hover {
	background-color:#999999;
}


.wrapper>div{
    display:inline-block;
   
}

.tunnitkeskellewrapper{
	display:table-row;
	
}

.bold {
	font-weight: bold;
}

.navbar {
	border-radius: 0;
}

#logout {
	background:none;
	border:none;
	color: #9d9d9d;
	position: relative;
 	display: block;
 	padding: 10px;
 	text-align: center;
}

#logout:hover {
	color: #fff;
}

@media (min-width: 768px) {
	#logout {
		padding: 15px 15px;
	}